<!DOCTYPE html>
<html>
<head>
</head>
<body>

<h1>Hello {{ client }}</h1>
<p>Your lucky number is: {{ lucky_number }}</p>
<ul>
    {% for list in users_pass %}
        <li>{{ list[0] }} - {{ list[1] }}</li>
    {% endfor %}
</ul>
</body>
</html>