<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div id="container">
        <nav id="mainNav">
            <span id="mainNavName">Menu</span>
            <ul id="mainNavList">
                <li><a href="guestbook">GuestBook</a></li>
                <li><a href="login">{{ accountNav }}</a></li>
            </ul>
        </nav>
        <main id="mainContent">
            <form id="loginForm" method="POST">
                <label for="login">Login: </label>
                <input id="login" name="login" type="text" placeholder="login..." minlength="5" maxlength="30" required>
                <label for="password">Password: </label>
                <input id="password" name="password" type="password" minlength="5" maxlength="30" required>
                Login <input type="radio" name="logReg" value="login" checked>
                Register <input type="radio" name="logReg" value="register">
                <input type="submit" id="loginButton" value="Submit">
            </form>
            <p class="{{ loginInfo }}">Wrong login or password!</p>
            <p class="{{ registerWrongInfo }}">Login already used!</p>
            <p class="{{ registerCompleteInfo }}">Registration completed! You can now log in!</p>

        </main>
        <footer>Site made by <a href="https://kamilbrodziak.github.io">Kamil Brodziak</a>. All rights reserved.</footer>
    </div>
</body>
</html>